@import '../../utils/theme.scss';

.select {
  padding: 0 0.25rem;
  background: $background;
  border-width: 0.075rem;
  border-radius: 12px;
  border-color: $controlStroke;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: $primary;
  }

  &:disabled {
    background: $controlDisabled;
    cursor: not-allowed;
  }
}

.altSelect {
  padding: 0;
  margin: 0;
  color: $primaryDark;
  background: transparent;
  border-color: transparent;
  user-select: none;
  cursor: pointer;

  &:focus {
    border-color: transparent;
  }

  &:disabled {
    color: $textGrey;
  }
}
