@import '../../utils/theme.scss';

.wrapper {
  max-width: 15rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $background;
  user-select: none;

  .message {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: normal;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .noButton {
      min-width: 4rem;
    }

    .yesButton {
      min-width: 4rem;
    }
  }
}
