$text: #231f20;
$primary: #58afe2;
$primaryDark: #468cb5;
$background: #ffffff;
$backgroundAlt: #eceef1;

$textGrey: #737373;
$textRed: #bf271b;

$controlPrimaryHovered: #4f9ecb;
$controlBackground: #f4f5f7;
$controlBackgroundError: #ffebee;
$controlDisabled: #eceef1;
$controlDisabledDark: #bebec0;
$controlStroke: #bfc5cf;
$controlShadow: #d1d2d4;

$textLabel: 0.75rem; //12px
$textSmall: 0.875rem; //14px
$textNormal: 1rem; //16px
$textBig: 1.125rem; //18px
